table{
    border-collapse: collapse;
}


th,td{
    min-width: 80px;
    /* height: 10px; */
    border:1px solid #333;
}
td{
    outline: none;
}

#bold-btn,#italic-btn,#underline-btn{
    width:40px;
    margin: 10px 0px 10px ;
}
#left-btn ,#center-btn ,#right-btn{
   
    width: 60px;
    text-align: center;
}